@font-face {
  font-family: "Montserrat-Black";
  src: local("Montserrat-Black") url("./fonts/Montserrat-Black.ttf")
    format("truetype");
  font-weight: 900;
}
body {
  font-family: "Montserrat", sans-serif !important;

  background-color: #000000 !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
