@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Regular.ttf") format("truetype"),
    url("./fonts/Comfortaa-Bold.ttf") format("truetype");
  font-style: bold;
}
body {
  font-family: "Comfortaa", sans-serif !important;

  background-color: #000000 !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
